{% extends 'seller_header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="row">
	<div id="box" class="col-sm-3">
		<div class="container">
	  		<div class="card" style="width:250px">
	    		<img class="card-img-top" src="{{book.book_image.url}}" alt="Card image" width=200px height=200px>
	    			<div class="card-body">
	      				<h4 class="card-title">{{book.book_name}}</h4>
	      				<p class="card-text">{{book.book_author}}</p>
	      				<p class="card-text">Price : {{book.book_price}}</p>
	      				<p class="card-text">{{book.book_desc}}</p>
	      				<p class="card-text">{{book.book_stock}}</p>
	      				{% if book.book_stock == 'Available' %}
	      					<a href="{% url 'stock_avaibility' pk=book.pk %}"><input type="button" value="Make Unavailable" class="btn btn-primary"></a>
	      				{% else %}
	      					<a href="{% url 'stock_avaibility' pk=book.pk %}"><input type="button" value="Make Available" class="btn btn-primary"></a>
	      				{% endif %}
	      				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	      				<br><br>
	      				<a href="{% url 'edit_book' pk=book.pk %}"><input type="button" value="Edit" class="btn btn-primary"></a>
	      				&nbsp;&nbsp;&nbsp;
	      				<a href="{% url 'book_delete' pk=book.pk %}"><input type="button" value="Delete" class="btn btn-primary"></a>
	    			</div>
	  		</div>	  
		</div>
	</div> 
</div>
</body>
</html>
{% endblock %}