{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		tr,td{
			padding: 10px;
		}
		fieldset {
  background-color: #eeeeee;
}
legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}
	</style>
</head>
<body>
<center>
<h1>Login</h1>
{% if msg %}
	{{msg}}
{% endif %}
<form name="login" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<fieldset>
	<table>

		<tr>
			<td>User Type</td>
			<td>
				<input type="radio" name="usertype" value="user">User
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="usertype" value="seller">Seller
			</td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" required="required"></td>
		</tr>

		<tr>
			<td>Password</td>
			<td><input type="password" name="password" required="required"></td>
		</tr>

		<tr>
			<td>
				<input type="submit" name="submit" value="Login" class="btn btn-primary">
			</td>
			<td align="right">
				<a href="{% url 'forgot_password' %}"><input type="button" value="Forgot Password" class="btn btn-primary"></a>
			</td>
		</tr>
	</table>
</fieldset>
</form>
</center>
</body>
</html>
{% endblock %}