{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		tr,td{
			padding: 10px;
		}
		fieldset {
  background-color: #eeeeee;
}
legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}
	</style>
</head>
<body>
<center>
<h1>Enter OTP</h1>
{% if msg %}
	{{msg}}
{% endif %}
<form name="enter_otp" method="post" action="{% url 'validate_otp' %}">
	{% csrf_token %}
	<fieldset>
	<table>
		<tr>
			<td><input type="hidden" name="email" value="{{email}}"></td>
			<td><input type="hidden" name="otp" value="{{otp}}"></td>
			{% if myvar %}
			<td><input type="hidden" name="myvar" value="{{myvar}}"></td>
			{% endif %}
		</tr>

		<tr>
			<td>Enter OTP</td>
			<td><input type="password" name="uotp" required="required"></td>
		</tr>

		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="submit" value="Validate OTP" class="btn btn-primary">
			</td>
		</tr>
	</table>
</fieldset>
</form>
</center>
</body>
</html>
{% endblock %}